---
import Layout from "../layouts/Layout.astro";

import CV from "../components/cv";
import EditInfo from "../components/EditInfo.jsx";
import {ProviderWrapper as UserDataProviderWrapper} from "../components/UserDataContext.jsx";

const cvInfo = {
	name: "John Doe",
	title: "Software Engineer",
	email: "john@doe.com",
	phone: "+1 234 567 890",

	experience: [
		{
			company: "Company 1",
			role: "Software Engineer",
			startDate: "2019-01-01",
			endDate: "2020-01-01",
			description:
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, vitae aliquam nisl nunc vitae nunc.",
		},
		{
			company: "Company 2",
			role: "Software Engineer",
			startDate: "2018-01-01",
			endDate: "2019-01-01",
			description:
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, vitae aliquam nisl nunc vitae nunc.",
		},
		{
			company: "Company 3",
			role: "Software Engineer",
			startDate: "2017-01-01",
			endDate: "2018-01-01",
			description:
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, vitae aliquam nisl nunc vitae nunc.",
		},
		],
	skills: [
		"skill 1",
		"skill 2",
		"skill 3",
		"skill 4",
	],
};
---

<Layout>
	<div class="content flex flex-row">
		<EditInfo class="w-1/2" width="half" info={cvInfo} client:load/>
		<CV template="minimal" info={cvInfo} className="w-2/5" id="cv" client:load/>
	</div>
</Layout>

<style is:global>
	@media print {
		@page {
			size: A4;
			margin: 0;
		}

		body {
			margin: 0;
			padding: 0;
		}

		/* Hide everything except the CV */
		body > * {
			display: none !important;
		}

		/* Can't use :has (thanks Firefox) */
		/* *:has(#cv), */
		body > main,
		body > main > div,
		#cv {
			display: block !important;
		}

		#cv {
			width: 100%;
			height: 100%;
			overflow: hidden;

			position: fixed;
			inset: 0;
		}
	}
</style>
