---
import Layout from "../layouts/Layout.astro";

import CV from "../components/cv";
import EditInfo from "../components/EditInfo.jsx";

const cvPlaceholder = {
	template: "minimal",

	name: "John Doe",
	title: "Développeur Web",
	address: "Av. Emile Vandervelde 80, 1200 Woluwe-Saint-Lambert",
	email: "john@doe.com",
	phone: "+32 123 45 67 89",

	photo: "",

	statement:
		"Diplômé récemment en informatique, je suis un développeur junior passionné par la création de solutions innovantes. Fort d'une formation solide en programmation et d'une expérience pratique acquise au cours de mes études, je suis désireux de mettre en œuvre mes compétences techniques fraîchement acquises dans un environnement professionnel.",

	experience: [
		{
			company: "Firme 1",
			role: "Développeur Web",
			startDate: "Juin 2024",
			endDate: "Présent",
			description:
				"En tant que développeur au sein de ce firme, j'ai collaboré avec une équipe talentueuse pour concevoir et développer des solutions logicielles innovantes.",
		},
		{
			company: "Firme 2",
			role: "Job étudiant",
			startDate: "Juin 2022",
			endDate: "Août 2022",
			description:
				"Pendant mes études, j'ai travaillé comme jobiste dans cette firme. J'ai pu y développer mes compétences en communication et en travail d'équipe, ainsi qu'en gestion de projet.",
		},
	],

	education: [
		{
			degree: "Bachelier en Informatique",
			school: "HE Léonard de Vinci",
			startDate: "Septembre 2021",
			endDate: "Juin 2024",
			description:
				"J'ai suivi un bachelier en informatique à la Haute École Léonard de Vinci. J'y ai appris les bases de la programmation, ainsi que les principes de l'ingénierie logicielle.",
		},
	],

	languages: [
		{
			language: "Français",
			level: "Langue maternelle",
		},
		{
			language: "Anglais",
			level: "Courant",
		},
		{
			language: "Néerlandais",
			level: "Notions",
		},
	],

	skills: `
		<ul>
			<li>HTML</li>
			<li>CSS</li>
			<li>JavaScript</li>
			<li>React</li>
			<li>Node.js</li>
			<li>Git</li>
			<li>...</li>
		</ul>
	`,
};
---

<Layout>
	<div class="content flex flex-col md:flex-row gap-4 md:items-center">
		<EditInfo placeholder={cvPlaceholder} client:load />
		<CV
			placeholder={cvPlaceholder}
			className="max-w-full md:max-w-[40%]"
			id="cv"
			client:load
		/>
	</div>
</Layout>

<style is:global>
	@media print {
		@page {
			size: A4;
			margin: 0;
		}

		body {
			margin: 0;
			padding: 0;
		}

		/* Hide everything except the CV */
		body > *,
		astro-island {
			display: none !important;
		}

		@supports selector(:has(+ *)) {
			*:has(#cv) {
				display: block !important;
			}
		}

		@supports not selector(:has(+ *)) {
			body > main,
			body > main > div,
			#cv {
				display: block !important;
			}
		}

		#cv {
			width: 100% !important;
			height: 100% !important;
			overflow: hidden !important;
			max-width: 100vw !important;

			position: fixed !important;
			inset: 0 !important;
		}
	}
</style>
