---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="content prose prose-neutral dark:prose-invert grow">
		<h1>Politique de confidentialité de CVista</h1>
		<p>Dernière mise à jour : 24 novembre 2023</p>
		<p>
			Bienvenue sur CVista, un site Web de création de CV. La
			confidentialité de nos utilisateurs est d'une importance capitale
			pour nous. Cette politique de confidentialité explique comment nous
			recueillons, utilisons et protégeons les informations que vous
			pouvez nous fournir lors de l'utilisation de notre site.
		</p>
		<h2>Collecte et utilisation des informations</h2>
		<p>
			CVista est un site Web statique qui ne collecte aucune information
			personnelle identifiable de ses utilisateurs. Toutes les
			informations relatives à la création de CV sont stockées localement
			dans le navigateur de l'utilisateur, spécifiquement dans le
			LocalStorage. Aucune donnée n'est envoyée à nos serveurs.
		</p>
		<p>
			Les informations stockées localement sont utilisées uniquement pour
			permettre aux utilisateurs de créer et de sauvegarder leurs CV sur
			leur appareil.
		</p>
		<p>
			Étant donné que CVista ne collecte aucune information sur nos
			serveurs, aucune information personnelle n'est partagée avec des
			tiers.
		</p>
		<h2>Sécurité des informations</h2>
		<p>
			Nous prenons des mesures de sécurité appropriées pour protéger les
			informations stockées localement dans le navigateur de
			l'utilisateur. Cependant, il est important de noter que la sécurité
			des informations dépend également des efforts de l'utilisateur pour
			protéger son propre système.
		</p>
		<h2>Cookies et technologies similaires</h2>
		<p>
			CVista n'utilise pas de cookies ni de technologies similaires pour
			collecter des informations.
		</p>
		<h2>Modifications de la politique de confidentialité</h2>
		<p>
			Nous nous réservons le droit de mettre à jour cette politique de
			confidentialité à tout moment. Les modifications seront publiées sur
			cette page.
		</p>
		<p>
			En utilisant CVista, vous acceptez les termes de cette politique de
			confidentialité.
		</p>
	</div>
</Layout>
