<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body class="p-8">
		<header class="navbar sticky w-screen -mt-8 -mx-8 mb-8">
			<div class="navbar-start">
				<a class="navbar-item" href="/">CVista</a>
			</div>
			<div class="navbar-end">
				<a class="navbar-item" href="/">Home</a>
			</div>
		</header>
		<main>
			<slot />
		</main>
	</body>
</html>
