---
import "../base.css";

import {ViewTransitions} from "astro:transitions";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://rsms.me/" />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
		<ViewTransitions />
	</head>
	<body class="flex min-h-screen flex-col">
		<header class="navbar sticky w-full">
			<div class="mx-auto flex w-full max-w-7xl">
				<div class="navbar-start">
					<a class="navbar-item" href="/">CVista</a>
				</div>
				<div class="navbar-end">
					<a class="navbar-item" href="/">Home</a>
				</div>
			</div>
		</header>
		<main class="flex flex-grow flex-col [&>*]:w-full">
			<slot />
		</main>
	</body>
</html>
